In [8]:
import pandas as pd
df=pd.read_excel('HW.xlsx')

In [9]:
df.head()

   weight  height
0      45     120
1      50     135
2      57     135
3      60     137
4      63     140

In [10]:
df.tail()

    weight  height
15      90     176
16      91     178
17      47     136
18      53     140
19      54     150

In [12]:
df.fillna(df.mean(numeric_only = True), inplace = True)

In [13]:
df.isnull().sum()

weight    0
height    0
dtype: int64

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns